@use 'funcs';

$-grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);
$grid-breakpoints: () !default;
$grid-breakpoints: funcs.grid-map-update($-grid-breakpoints, $grid-breakpoints);
$grid-columns: 12 !default;
$grid-column-gap: 1.5rem !default;

$-container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
);
$container-max-widths: () !default;
$container-max-widths: funcs.grid-map-update($-container-max-widths, $container-max-widths);
$container-padding: $grid-column-gap !default;